* {
    margin: 0;
    padding: 0;
}

/* Penataan Umum */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
}

/* Header */
header {
    background-color: #ac0e0e;
    color: #fff;
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 36px;
}

/* Navigasi */
.nav {
    background: #ac0e0e;
    height: 60px;
    display: inline-block;
}
 
.nav li {
    float: left;
    list-style-type: none;
    position: relative;
}

.nav li a {
    font-size: 16px;
    color: white;
    display: block;
    line-height: 60px;
    padding: 0 26px;
    text-decoration: none;
    border-left: 1px solid #ac0e0e;
    font-family: Montserrat, sans-serif;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
.nav li a:hover {
    background-color: #ff0000;
}
 
#settings a {
    padding: 18px;
    height: 24px;
    font-size: 10px;
    line-height: 24px;
}
#Pages a{
    border-left: 0 none;
}
#Pages>a {
    background-image: url(triangle.png);
    background-position: 85% center;
    background-repeat: no-repeat;
    padding-right: 42px;
}
.subnav {
    visibility: hidden;
    position: absolute;
    top: 110%;
    right: 0;
    width: 200px;
    height: auto;
    opacity: 0;
    transition: all 0.1s;
    background: #ac0e0e;
}
.subnav li {
    float: none;
}
.subnav li a {
    border-bottom: 1px solid #ffffff;
}
#Pages:hover .subnav {
    visibility: visible;
    top: 100%;
    opacity: 1;
}

/* Sections */
section {
    margin: 20px 0;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Formulir Kontak */
form label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
}
